<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
</head>
<body>
	<h1>Topics</h1><br/><button><a href="/threads">Home</a></button><br/>
	<button><a href="/threads/newthread">New Post</a></button><br/>
	<button><a href="/threads/newuser">Create New Username</a></button><br/>
		<label for="filter">Filter by: </label>
		<button><a href="/threads/filter/comments">Comments</a></button>
		<button><a href="/threads/filter/likes">Likes</a></button>
	<ul>
	<% threads.forEach(function(threads){ %>
		<li><a href="/threads/<%= threads.id %>"><%= threads.title %></a> <p>Created: <%=threads.created_at%> | Updated: <%=threads.updated_at %><br/>Comments: <%=threads.comments%><br/>Likes: <%=threads.likes%></p></li>
	<% })%>
</ul>
</body>
</html>