<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=threads.title%></title>
</head>
<body>
	<h1><%=threads.title%> by "<%=threads.username%>"</h1>
	<h3>Created:<%= threads.created_at %><br/>Last Updated: <%= threads.updated_at %></h3>
		<h4><%= threads.content %></h4>
		<h5>Comments</h5>
			<%users.forEach(function(users){%>
			<ul>
				<li><%=users.username%> (<%=users.created_at%>) said:
					<p><%=users.content%></p>
				</li>
			</ul>
			<%})%>



<div class="buttons">
		<button><a href="/threads/<%= threads.id %>/edit">Edit</a></button>
		<form action="/threads/<%=threads.id%>/?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>
		<button>Like</button>
</div>
		<form action="/threads/<%=threads.id%>" method="POST">
			<textarea type="text" name="content" rows="15" cols="50" wrap="physical" placeholder="Write a comment!"></textarea><br/>
			<input type="submit">
		</form>
</body>
</html>